<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Vision Parking Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/service.js') }}"></script>
</head>

<body>
    {% include "loader.html" %}
    <header>
        {% include "navbar.html" %}
    </header>
    <main style="margin-top: 80px;">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>